@import "fonts"
@import "libs"
@import "vars"

body
    line-height: 1.75
    min-width: 320px
    // background-color: #444444
    position: relative
    font-size: 16px
    font-family: $default-font
    overflow-x: hidden
    opacity: 1

h1
    font-size: 28px
    font-weight: bold
    text-transform: uppercase

@mixin loader
    background-image: url(../img/loader.gif)
    background-size: 50px
    background-repeat: no-repeat
    background-position: center    

@mixin opacity($opacity)
    opacity: $opacity/100
    filter: alpha(opacity = $opacity)

.preloader
    position: fixed
    top: 0px
    left: 0px
    bottom: 0px
    right: 0px
    z-index: 100
    background-color: black
    .puls
        position: relative
        left: 50%
        top: 50vh
        margin: 
            left: -40px
            right: -40px
        &::before, &::after
            content: ""
            border: 5px solid $light-color
            width: 80px
            height: 80px
            border-radius: 500px
            position: absolute
        &::before
            animation: puls-outer 0.8s ease-in infinite
        &::after
            animation: puls-inner 0.8s linear infinite

@keyframes puls-outer
    0%
        @include opacity(100)
    50%
        @include opacity(50)
    100%
        @include opacity(0)

@keyframes puls-inner
    0%
        @include opacity(0)
        transform: scale(0)
    100%
        @include opacity(100)
        transform: scale(1)

.my-header, .my-simple-header
    text-align: center
    width: 100%
    .container-fluid
        background-color: rgba(#444444,0.8)
    .logo
        bottom: 20px
        width: 65px
        height: auto
    .h-name
        color: $accent-color
        margin: 10px 0 0 0
        .olc
            white-space: nowrap
    
    .sm-h-phone
        color: $light-color
        font-size: 16px
    .menu
        
        .dropdown-menu
            margin: auto
            opacity: 0.8
            max-width: 150px
            .dropdown-item
                white-space: normal
                font-size: 14px
                padding: 0 10px
                &:hover
                    color: $accent-color
                    transition: color .25s ease
    .navbar-dark
        padding: 0
        button
            column-rule-color: $accent-color
        .navbar-toggler
            align-items: flex-end
            border-color: $accent-color
        .collapsed
            border-color: rgba(255, 255, 255, 0.5)
        
        .navbar-nav
            .nav-link
                cursor: pointer
                color: #fff
                &:hover
                    color: $accent-color
                    transition: color .5s ease
            .active
                color: $accent-color
    .h-phone
        // position: absolute
        margin: 10px 0 
        font-size: 20px
        color: $light-color
        white-space: nowrap
        .fa-mobile-alt
            margin-right: 8px
            font-size: 16px
    .lang
        font-size: 13px
        .nav-link
            // margin-top: 25px
            color: #fff
            &:hover
                color: $accent-color
                transition: color .5s ease
        .active
            color: $accent-color
    .description
        color: white
        height: 100%
        max-height: 600px
        width: 100%
        margin-top: 100px
        h1
            font-size: 36px
            // font-weight: normal
            letter-spacing: 4px

.golovna
    #my-carousel
        .carousel-item
            height: 100%
        .carousel-caption
            margin-bottom: 200px
            a
                background-color: $accent-color
                opacity: 0.8
                border: none
                &:hover
                    color: #ffffff
                    opacity: 1
                    transition: opacity .25s ease
        a
            &:hover
                color: $accent-color
                transition: color .25s ease
            svg
                font-size: 30px
        ol
            li
                width: 15px
                height: 15px
                border-radius: 10px
                margin: 0 6px
                &:hover
                    cursor: pointer
            .active
                background-color: $accent-color
    
    .advantage
        text-align: center
        background-color: #dddddd
        background-size: cover
        height: 300px
        &-header
            text-align: center
            margin-top: 30px
            margin-bottom: 20px
        &-item
            margin-top: 5px
            margin-bottom: 5px
        .row
            padding:
                right: 20px
                left: 20px
    .last-video
        background-color: #444444
        background-size: cover
        text-align: center
        color: white
        &-header
            h1
                margin-top: 30px
        &-video
            margin-top: 10px
            margin-bottom: 20px
            flex-direction: column
            .title
                font-weight: 300
                letter-spacing: 3px
                padding: 
                    right: 10px
                    left: 10px
            iframe
                @include loader
                
        &-button
            // padding-bottom: 30px
            .btn 
                // width: 
                width: auto
                height: auto
                font-size: 20px
                background-color: grey
                opacity: 0.9
                border: none
                border-radius: 10px
                margin: 0px 60px 30px
                &:hover
                    opacity: 1
                    transition: opacity .25s ease
            .main
                background-color: $accent-color
    .team
        background-color: white
        padding-top: 30px
        &-header
            margin-bottom: 20px
        &-carousel
            .owl-nav
                position: absolute
                width: 100%
                top: 0px
                // font-size: 20px
                // margin: 20px
                button
                    position: absolute
                    font-size: 26px
                    width: 50px
                    height: 50px
                    &:focus
                        outline-color: white
                    &:hover
                        color: $accent-color
                        transition: color 0.25s ease
                .owl-prev
                    left: 0px
                .owl-next
                    right: 0px
            .team-carousel-item
                display: flex
                flex-flow: column
                text-align: center
                font-weight: 300
                margin-bottom: 30px
                .item-img
                    display: block
                    align-self: center
                    img
                        width: 80px
                        height: auto
                        border-radius: 10em

                svg
                    font-size: 70px
                .info

.oblvideo
    text-align: center
    padding-top: 20px
    .intro
        .row
            padding: 
                left: 15px
                right: 15px
        &-header
            width: 100%
        &-body
            .olc
                white-space: nowrap
    &-list
        background-color: #aaaaaa
        &-video
            margin-top: 20px
            iframe
                @include loader
        .title
            font-weight: 300
            letter-spacing: 3px
            padding: 
                right: 10px
                left: 10px
        ul
            margin-bottom: 0px
            padding-bottom: 20px
            padding-top: 20px
            
            .page-item
                .page-link
                    color: #000
                    &:hover
                        background-color: $accent-color
                        border-color: $accent-color
                        opacity: 0.7
                        transition: color 0.25s ease
            .disabled
                opacity: 0.7
            .active
                .page-link
                    background-color: $accent-color
                    border-color: $accent-color
                

                
.my-footer
    background-color: #777777
    padding: 25px 0 20px 0
    color: $light-color
    font-weight: 300
    .foot
        margin-top: 10px
        font-size: 18px
        &-name
            text-transform: uppercase
            font-weight: bold
            font-size: 20px
            .olc
                white-space: nowrap
        &-phone
            font-size: 19px
        svg
            margin-right: 8px
            font-size: 14px
        .fa-mobile-alt
            margin: 0 12px 0 4px
        &-map
            iframe
                @include loader

.to-top
    position: fixed
    color: rgba(#444444,0.8)
    bottom: 25px
    right: -100px
    background-color: $light-color
    z-index: 12
    border-radius: 10em
    width: 50px
    height: 50px
    text-align: center
    line-height: 50px
    font-size: 26px
    cursor: pointer
    transition: all 0.25s ease
    opacity: 0.5
    &:hover
        opacity: 1
        background-color: $accent-color
        border: 1px solid $accent-color
    &.active
        right: 25px

@import "media"