{% extends "base.html" %}

{% block title %}
    {{"Про нас" if lang == "ukr" else "О нас"}}
{% endblock %}
{% block main %}
    <div class="section aboutus">
        <div class="container aboutus-intro">
            <div class="row">
                <div class="aboutus-intro-header">
                    <h2>{{"Про нас" if lang == "ukr" else "О нас"}}</h2>
                </div>
                <div class="aboutus-intro-info">
                    {% if lang == "ukr" %}
                    <p>
                        Раді вітати вас на офіційному сайті комунального підприємства 
                        Харківської обласної ради <span class="olc">"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"!</span>
                    </p>
                    <p>
                        Ми – це ефективна та дружня команда, що займається такими видами діяльності:
                        <ul>
                            <li>послуги з оренди нерухомості та автотранспорту;</li>
                            <li>фото- та відеозйомка.</li>
                        </ul>
                    </p>
                    <p>
                        Але головна наша мета — це ефективне та раціональне використання автомобільного транспорту, 
                        який знаходиться у спільній власності територіальних громад сіл, селищ, міст Харківської області.
                        У найближчій перспективі ми плануємо надавати послуги з обробки даних, 
                        розміщення інформації на сайтах та інші.
                    </p>
                    {% else %}
                    <p>
                        Рады приветствовать вас на официальном сайте комунального предприятия 
                        Харьковского областного совета <span class="olc">"областной логистический центр"!</span>
                    </p>
                    <p>
                        Мы – это эфективная и дружественная команда, которая занимается такими видами деятельности:
                        <ul>
                            <li>услуги аренды недвижемости и автотранспорта;</li>
                            <li>фото- и видеосъёмка.</li>
                        </ul>
                    </p>
                    <p>
                        Но главная наша цель — это эфективное и рациональное использование автотранспорта, 
                        который находится в совместном владении территориальной общины сел, посёлков, городов Харьковской области.
                        В ближайшей перспективе мы планируем предоставлять услуги обработки данных, 
                        размещение информации на сайтах и др.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container aboutus-hist">
            <div class="row">
                <div class="aboutus-hist-header">
                    <h2>{{"Наша історія" if lang == "ukr" else "Наша история"}}</h2>
                </div>
                <div class="aboutus-hist-info">
                    {% if lang == "ukr" %}
                    <p>
                        КП ХОР <span class="olc">"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"</span> було створене 
                        шляхом зміни сфери діяльності та назви Комунального підприємства Харківської обласної ради 
                        <span class="olc">«Слобожанський мисливець-5»</span> 
                        на підставі рішення ХХХІІ сесії VІ скликання № 1116-VІ від 18 грудня 2014 року.
                    </p>
                    <p>
                        З часом у нас виникла потреба в освоєнні нових напрямків роботи, і тому на підставі 
                        розпорядження голови Харківської обласної ради № 149 від 25 серпня 2016 року було 
                        затверджено СТАТУТ КОМУНАЛЬНОГО ПІДПРИЄМСТВА ХАРКІВСЬКОЇ ОБЛАСНОЇ РАДИ 
                        «ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР» в новій редакції, в якому були додані нові види діяльності 
                        (відеозйомка, послуги з обробки інформації).
                    </p>
                    {% else %}
                    <p>
                        КП ХОС <span class="olc">"областной логистический центр"</span> было основано вследствии 
                        изменения сферы деятельности и названия Комунального предприятия Харьковского обастного совета
                        <span class="olc">«Слобожанський мисливець-5»</span> 
                        на основании решения ХХХІІ сесии VІ созыва № 1116-VІ от 18 декабря 2014 года.
                    </p>
                    <p>
                        Со временем у нас возникла потребность в освоении новых напрвлений работы, и поэтому на основании 
                        роспоряжения председатель Харьковского областного совета № 149 от 25 августа 2016 года был 
                        утверждён УСТАВ КОМУНАЛЬНОГО ПРЕДПРИЯТИЯ ХАРКІВСЬКОГО ОБЛАСТНОГО СОВЕТА 
                        «ОБЛАСТНОЙ ЛОГИСТИЧЕСКИЙ ЦЕНТР» в новой редакции, в котором были добавлены новые виды деятельности
                        (видеосъёмка, услуги обработки информации).
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container aboutus-team">
            <div class="row">
                <div class="aboutus-team-header">
                    <h2>Наша команда</h2>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel team-carousel" id = "team-carousel">
                    {% for item in team %}
                    <div class="team-carousel-item">
                        <figure class="item-img">
                        {% if item.img_name %}
                            <img class="team-img" src="../static/img/photos/team/{{item.img_name}}"
                            alt="КП ХОР 'ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР'">
                        {% else %}
                            <i class="far fa-user"></i>
                        {% endif %}
                        </figure>
                        <div class="info">
                            {% if lang == "ukr" %}
                                {% if item.position_ukr %}
                                    {{ item.position_ukr }} <br/>
                                {% endif %}
                                {% if item.full_name_ukr %}
                                    {{ item.full_name_ukr }}
                                {% endif %}
                            {% else %}
                                {% if item.position_rus %}
                                    {{ item.position_rus }} <br/>
                                {% endif %}
                                {% if item.full_name_rus %}
                                    {{ item.full_name_rus }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="aboutus-button">
            <button class="btn btn-secondary btn-sm">
                {{"Публічна інформація" if lang == "ukr" else "Публичная информация"}}
            </button>
        </div>
        <div class="container aboutus-pubinfo">
            <div class="row">
                <div class="aboutus-pubinfo-header">
                    <h2>{{"Публічна інформація" if lang == "ukr" else "Публичная информация"}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="aboutus-pubinfo-content">
                    <p>
                        {{"Bи можете ознайомитися з документами, які регулюють нашу діяльність:"
                        if lang == "ukr" else 
                        "Вы можете ознакомиться с документами, которые регламентируют нашу деятельность:"}}
                    </p>
                    {% if pubinfo %}
                    <ul class="list">
                        {% for item in pubinfo %}
                        <li>
                            <a class="popup-link" href="../static/img/photos/pubinfo/{{ item.img_name }}">
                                {{ item.name_ukr }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="aboutus-pubinfo-close">
                    <i class="fas fa-times-circle"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}