<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    
    <!-- <style>body{opacity: 0; overflow-x: hidden;}html{background-color: #fff;}</style> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

    <!-- http://stewartjpark.com/Flask-JSGlue/ -->
    {{ JSGlue.include() }}

    <title>Test{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="preloader"><div class="puls"></div></div>
    <header>
        <div class="section {{header_class}}">
            <div class="container-fluid my-header-top">
                <div class="row"> 
                    <div class="col-sm-12 col-md-2 left d-lg-flex justify-content-end align-items-start">
                        {% if current_user.has_role("admin") or
                              current_user.has_role("redactor") or
                              current_user.has_role("main") %}
                        <div class="admin-link">
                            <a href="/admin">Admin</a>
                        </div>
                        {% endif %}
                        <img class="logo" src="../static/img/logo.svg" alt="КП ХОР 'ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР'" height="150px">
                    </div>
                    <div class="col-12 col-md-8">
                        <h1 class="h-name">{{"КП ХОР " if lang=="ukr" else "КП ХОC "}}
                            <span class="olc">
                                {{'"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"' if lang=="ukr" else '"Областной логистический центр"'}}
                            </span>
                        </h1>
                        <h6>
                            <div class="sm-h-phone d-md-none d-sm-block">
                                <i class="fas fa-mobile-alt"></i>
                                {{ main_user.phone }}
                            </div>
                        </h6>
                        <div class="menu d-flex justify-content-center">
                            <nav class="navbar navbar-expand-sm navbar-dark">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="true">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link {{ active=='index_active'and 'active' }}" 
                                                href="/golovna?lang={{lang}}">
                                                {{"Головна" if lang=="ukr" else "Главная"}}
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link {{ active=='gallery_active'and 'active' }}" 
                                                data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                {{"Відеозйомка" if lang=="ukr" else "Видеосъёмка"}}
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/gallery/oblvideo?lang={{lang}}">
                                                    {{"Відео для облради" if lang=="ukr" else "Видео для облсовета"}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/gallery/privatvideo?lang={{lang}}">
                                                    {{"Відео на замовлення" if lang=="ukr" else "Видео на заказ"}}
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link {{ active=='orenda_active'and 'active' }}" 
                                                data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                {{"Оренда" if lang=="ukr" else "Aренда"}}
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/orenda/orendamest?lang={{lang}}">
                                                    {{"Оренда приміщень" if lang=="ukr" else "Аренда помещений"}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/orenda/orendatrans?lang={{lang}}">
                                                    {{"Оренда автотранспорту" if lang=="ukr" else "Аренда автотранспорта"}}
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {{ active=='aboutus_active' and 'active' }}" 
                                                href="/aboutus?lang={{lang}}">
                                                {{"Про нас" if lang=="ukr" else "O нас"}}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {{ active=='contacts_active' and 'active' }}" 
                                                href="/contacts?lang={{lang}}">
                                                {{"Контакти" if lang=="ukr" else "Контакты"}}
                                            </a>
                                        </li> 
                                    </ul>
                                </div> 
                            </nav>
                        </div>
                    </div>   
                    <div class="col-md-2 right">
                        <div class="h-phone d-none d-md-block">
                            <i class="fas fa-mobile-alt"></i>
                            {{ main_user.phone }}
                        </div>
                        <nav class="nav justify-content-center lang">
                            <li class="nav-item">
                                <a class="nav-link {{ lang=='ukr' and 'active' }}" id = 'ukr' 
                                    href="{{request.path}}?lang=ukr">укр</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ lang=='rus' and 'active' }}" id = 'rus' 
                                    href = "{{request.path}}?lang=rus">рус</a>
                            </li>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>  
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <div class="section my-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="foot foot-name">{{"КП ХОР " if lang=="ukr" else "КП ХОC "}}
                            <span class="olc">
                                {{'"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"' if lang=="ukr" else '"Областной логистический центр"'}}
                            </span>
                        </h5>
                        <div class="foot-info" >
                            <div class="foot foot-addr">
                                <i class="fas fa-location-arrow"></i>
                                {{"м.Харків, майдан Свободи, 5 (Держпром)" if lang == "ukr" 
                                else "г.Харьков, пл.Свободы, 5 (Госпром)"}}
                            </div>
                            <div class="foot foot-phone">
                                <i class="fas fa-mobile-alt"></i>
                                {{ main_user.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="col foot-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d906.589855699531!2d36.22675086673276!3d50.0071690021728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a11ff66608cd%3A0x742d8e411d257c9f!2z0L_Quy4g0KHQstC-0LHQvtC00YssIDUvMSwg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1521544129662" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="to-top" title='{{"Нагору" if lang == "ukr" else "Наверх"}}'>
        <i class="fas fa-angle-double-up"></i>
    </div>
    <link rel="stylesheet" href="../static/css/main.min.css" type="text/css"/>
    <script src="../static/js/libs.min.js"></script>
    <script src="../static/js/common.js"></script>
</body>
</html>
