{% extends "base.html" %}

{% block title %}
    {{"Контакти" if lang == "ukr" else "Контакты"}}
{% endblock %}
{% block main %}
    <div class="section contacts">
        <div class="container-fluid contacts-main">
            <div class="row">
                <div class="contacts-main-header">
                    <h1>
                        {{ "Як з нами зв'язатись?" if lang=="ukr" else "как с нами связаться?"}}
                    </h1>
                </div>
                <div class="contacts-main-intro">
                    {% if lang == "ukr" %}
                        <p>КП ХОР <span class="olc">"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"</span> знаходиться за адресою: <br/>м.Харків, майдан Свободи, 5 (Держпром)</p>
                        <p>Ви можете просто зателефонувати нам:</p>
                    {% else %}
                        <p>КП ХОC <span class="olc">"Областной логистический центр"</span> находится по адресу: <br/>г.Харьков, пл.Свободы, 5 (Госпром)</p>
                        <p>Вы можете просто позвонить нам:</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="contacts-main-person d-flex justify-content-center">
                    <figure class="contacts-main-person-img">
                    {% if main_user.img_name %}
                        <img class="main-person-img" src="../static/img/photos/team/{{main_user.img_name}}"
                        alt="КП ХОР 'ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР'">
                    {% else %}
                        <i class="far fa-user"></i>
                    {% endif %}
                    </figure>
                    <div class="contacts-main-person-info">
                        {{ main_user.position_ukr if lang == "ukr" else main_user.position_rus }} <br>
                        {{ main_user.full_name_ukr if lang == "ukr" else main_user.full_name_rus }} <br>
                        <i class="fas fa-mobile-alt"></i>
                        {{ main_user.phone }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container contacts-mail">
            <div class="row">
                <div class="contacts-mail-intro">
                    {{ "Або ви можете залишити ваше повідомлення через форму зворотного зв’язку:" 
                    if lang=="ukr" else
                    "Или вы можете оставить ваше сообщение через форму обратной связи:"}}
                </div>
            </div>
            <div class="row">
                {% if get_flashed_messages()%}
                <div class="alert {{'alert-danger' if error else 'alert-success'}} contacts-mail-alert w-100" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
                {% endif %}
                <form action="/contacts?lang={{lang}}" method="post" class="contacts-mail-form d-flex justify-content-center">
                    <!-- <div class="contacts-mail-success">
                        <span><h2>{{ "Дякуємо за заказ" if lang == "ukr" else "Спасибо за заказ" }}</h2></span> 
                    </div> -->
                    <div class="form-row align-items-center">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group contacts-mail-form-name">
                                <label for="inputName">{{"П.І.Б." if lang == "ukr" else "Ф.И.О."}}</label>
                                <input required type="text" class="form-control" id = "inputName" name = "inputName" 
                                placeholder="{{'Як до вас звертатись?' if lang == 'ukr' else 'Как к вам обращаться?'}}">
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                            <div class="form-group contacts-mail-form-email">
                                <label for="inputEmail">E-mail</label>
                                <input required type="email" class="form-control" id = "inputEmail" name = "inputEmail" 
                                placeholder="{{'Ваша електрона пошта?' if lang == 'ukr' else 'Ваша электронная почта?'}}">
                            </div>
                            <div class="form-group contacts-mail-form-phone">
                                <label for="inputPhone">{{"Номер телефону" if lang == "ukr" else "Номер телефона"}}</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">+38</div>
                                    </div>
                                    <input required type="tel" class="form-control" id = "inputPhone" name = "inputPhone" 
                                    placeholder="{{'Ваш номер телефону?' if lang == 'ukr' else 'Ваш номер телефона?'}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group contacts-mail-form-select">
                                <label for="inputSelect">{{"Вид послуги" if lang == "ukr" else "Вид услуги"}}</label>
                                <select required type="text" class="form-control" id = "inputSelect" name = "inputSelect">
                                    <option selected disabled value="">{{"Виберіть послугу" if lang == "ukr" else "Выбeрите услугу"}}</option>
                                    {% for item in services %}
                                    <option value="{{ item.util_name_ukr if lang == "ukr" else item.util_name_rus }}">
                                        {{ item.name_ukr if lang == "ukr" else item.name_rus }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group contacts-mail-form-msg">
                                <label for="inputMsg">{{"Повідомлення" if lang == "ukr" else "Сообщение"}}</label>
                                <textarea type="text" class="form-control" id = "inputMsg" name = "inputMsg"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">{{"Надіслати" if lang == "ukr" else "Отправить"}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}