<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- <style>body{opacity: 0; overflow-x: hidden;}html{background-color: #fff;}</style> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

    <title>Test Index</title>
</head>
<body>
    <header>    
        <div class="section my-header">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12 col-md-2 left d-lg-flex justify-content-end align-items-start">
                        <img class="logo" src="../static/img/logo.svg" alt="КП ХОР 'ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР'" height="150px">
                    </div>
                    <div class="col-12 col-md-8">
                        <h1 class="h-name">КП ХОР <span class="olc">"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"</span></h1>
                        <h6>
                            <div class="sm-h-phone d-md-none d-sm-block">
                                <i class="fas fa-mobile-alt"></i>
                                099-999-99-99
                            </div>
                        </h6>
                        <div class="menu d-flex justify-content-center">
                            <nav class="navbar navbar-expand-sm navbar-dark">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="true">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Головна</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Відеозйомка</a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Відео для облради</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Відео на замовлення приватних клієнтів</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Оренда</a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Оренда приміщень</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Оренда автотранспорту</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Про нас</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Контакти</a>
                                        </li> 
                                    </ul>
                                </div> 
                            </nav>
                        </div>
                    </div>   
                    <div class="col-md-2 right">
                        <div class="h-phone d-none d-md-block">
                            <i class="fas fa-mobile-alt"></i>
                            099-999-99-99
                        </div>
                        <nav class="nav justify-content-center lang">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">укр</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">рус</a>
                            </li>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="description d-none d-lg-block" d-flex justify-content-center align-items-center>
                <h1>Послуги з відеозйомки,<br/> фотозйомки та оренди</h1> 
            </div>
        </div>
    </header>
    <main>  
            {% extends "base.html" %}
            {% block title %}
                Golovna
            {% endblock %}
            {% block main %}
                <div class="section my-main">
                    <div class="carousel slide d-block d-lg-none" id="my-carousel" data-ride="carousel">
                        <div class="carousel-inner">
                            <ol class="carousel-indicators">
                                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#my-carousel" data-slide-to="1"></li>
                                <li data-target="#my-carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="../static/img/bg1.jpg" alt="Первый слайд">
                                <div class="carousel-caption">
                                    <div class="col-12 col-sm-6 col-md-6 utils" >
                                        <h3 class="utils-header">
                                            {{"Замовляйте в нас послуги з професійної та високоякісної фото- та відеозйомки"
                                            if lang == "ukr" else 
                                            "Заказывайте у нас услуги профессиональной фото- и видеосъёмки"}}
                                        </h3>
                                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                                        <!-- <a class="btn btn-primary" href="/gallery/privatvideo?lang={{lang}}" role="button">
                                            {{"Наші відео" if lang=="ukr" else "Наши видео"}}
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../static/img/bg2.jpg" alt="Второй слайд">
                                <div class="carousel-caption">
                                    <div class="col-12 col-sm-6 col-md-6 utils">
                                        <h3 class="utils-header">
                                            {{"Ми надаємо послуги з оренди нерухомості та автотраспорту"
                                            if lang == "ukr" else
                                            "Мы предоставляем услуги аренды недвижемости и автотрастпорта"}}
                                        </h3>
                                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                                        <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
                                    </div>                      
                                 </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../static/img/bg3.jpg" alt="Третий слайд">
                                <div class="carousel-caption">
                                    <div class="col-12 col-sm-6 col-md-6 utils">
                                        <h3 class="utils-header">
                                            {{"Ми — це команда досвідчених професіоналів"
                                            if lang == "ukr" else
                                            "Мы — это команда опытных профессионалов"}}
                                        </h3>
                                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                                        <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#my-carousel" role="button" data-slide="prev">
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"> -->
                            <i class="fas fa-angle-left"></i>
                            <!-- </span> -->
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#my-carousel" role="button" data-slide="next">
                            <i class="fas fa-angle-right"></i>
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    
                    <div class="container-fluid advantage">
                        <div class="row">
                            <div class="col advantage-header">
                                <h1>{{"наші пріоритети" if lang == "ukr" else "наши приоритеты"}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            {% if lang == "ukr" %}
                                <div class="col-12 col-sm-3 advantage-item">
                                    Ми знаходимося в центрі останніх подій Харківської&#160;області
                                </div>
                                <div class="col-12 col-sm-3 advantage-item">
                                    Ми відчинені для всього нового та дивимося на світ по&#8209;сучасному
                                </div>
                                <div class="col-12 col-sm-3 advantage-item">
                                    “Роби швидко, будь пунктуальним” — ось наш девіз
                                </div>
                                <div class="col-12 col-sm-3 advantage-item">
                                    Ми прагнемо досягти найкращого результату, тому працюємо на сучасному обладнанні
                                </div>
                            {% else %}
                                <div class="col-12 col-sm-3 advantage-item">
                                    Мы находимся в центре последних событий Харьковской&#160;области
                                </div>
                                <div class="col-12 col-sm-3 advantage-item">
                                    Мы открыты для всего нового и современно смотрим на мир
                                </div>
                                <div class="col-12 col-sm-3 advantage-item">
                                    “Делай быстро, будь пунктуальным” — вот наш девиз
                                </div>
                                <div class="col-12 col-sm-3 advantage-item">
                                    Мы хотим достичь лучшего результата, поэтому работаем на современном оборудовании
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if video %}
                    <div class="container-fluid last-video">
                        <div class="row last-video-header d-flex justify-content-center">
                            <h1>{{"Останнє додане відео" if lang == "ukr" else "Последнее добавленное видео"}}</h1>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="last-video-video ">
                                <div class="title">
                                    <h6>
                                        {{ video.body }}
                                    </h6> 
                                </div>
                                <iframe width="854" height="480" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="row last-video-button d-flex justify-content-center">
                            <a href="/gallery/privatvideo?lang={{lang}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">
                                {{"Переглянути інші відео" if lang == "ukr" else "Посмотреть другие видео"}}
                            </a>
                            <a href="/contacts?lang={{lang}}" class="btn btn-primary btn-lg main" role="button" aria-pressed="true">
                                {{"Замовити відеозйомку" if lang == "ukr" else "Заказать видеосъёмку"}}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="container-fluid team ">
                        <div class="row team-header d-flex justify-content-center">
                            <h1>Наша команда</h1>
                        </div>
                        <div class="row">
                            <div class="owl-carousel team-carousel" id = "team-carousel">
                                <div class="team-carousel-item">
                                    <i class="far fa-user"></i>
                                    <div class="info">
                                        Директор <br/>
                                        Іванов Іван Іванович
                                    </div>
                                </div>
                                <div class="team-carousel-item">
                                    <i class="far fa-user"></i>
                                    <div class="info">
                                        Головний бугалтер <br/>
                                        Іванов Іван Іванович
                                    </div>
                                </div>
                                <div class="team-carousel-item">
                                    <i class="far fa-user"></i>
                                    <div class="info">
                                        Фахівець <br/>
                                        Іванов Іван Іванович
                                    </div>
                                </div>
                                <div class="team-carousel-item">
                                    <i class="far fa-user"></i>
                                    <div class="info">
                                        Фахівець2 <br/>
                                        Іванов Іван Іванович
                                    </div>
                                </div>
                            </div>
                        <!-- <div class="container-fluid team ">
                            <div class="row team-header d-flex justify-content-center">
                                <h1>Наша команда</h1>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 team-person d-flex justify-content-center">
                                    <i class="far fa-user"></i>
                                    <div class="info">
                                        Директор <br/>
                                        Іванов Іван Іванович
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 team-person d-flex justify-content-center">
                                    <i class="far fa-user"></i>
                                    <div class="info">
                                        Фахівець <br/>
                                        Іванов Іван Іванович
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            {% endblock %}
    </main>

    <footer>
        <div class="section my-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="foot foot-name">КП ХОР <span class="olc">"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"</span></h5>
                        <div class="foot-info" >
                            <div class="foot foot-addr">
                                <i class="fas fa-location-arrow"></i>
                                м.Харків, майдан Свободи 5/1
                            </div>
                            <div class="foot foot-time">
                                <i class="far fa-clock"></i>
                                Часи роботи: по буднях, 9:00 - 18:00
                            </div>
                            <div class="foot foot-phone">
                                <i class="fas fa-mobile-alt"></i>
                                099-999-99-99
                            </div>
                        </div>
                    </div>
                    <div class="col foot-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d906.589855699531!2d36.22675086673276!3d50.0071690021728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a11ff66608cd%3A0x742d8e411d257c9f!2z0L_Quy4g0KHQstC-0LHQvtC00YssIDUvMSwg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1521544129662" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="../static/css/main.min.css" type="text/css"/>
    <script src="../static/js/libs.min.js"></script>
    <script src="../static/js/common.js"></script>
    
</body>
</html>