{% extends "base.html" %}

{% block title %}
    OblVideo
{% endblock %}
{% block main %}
    <div class="section oblvideo">
        <div class="container intro">
            <div class="row">
                <div class="intro-header">
                    <h1>
                        {{"Відео для Харківської обл ради" 
                        if lang == "ukr" else
                        "Видео для харьковского облсовета"}}
                    </h1>
                </div>
                <div class="intro-body">
                {% if lang == "ukr" %}
                    <p>
                        КП ХОР <span class="olc">«ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР»</span> вже довгий час знімає відео для Харківської обласної ради. Наші фахівці фіксують на відео офіційні та неофіційні заходи за участю керівництва облради, а також проводять онлайн-трансляції та записують засідання конкурсних комісій.
                    </p>
                {% else %}
                    <p>
                        КП ХОС <span class="olc">«ОБЛАСНОЙ ЛОГИСТИЧЕСКИЙ ЦЕНТР»</span> уже долгое время снимает видео для Харьковского областного совета. Наши специалисты фиксируют на видео официальные и неофициальные мероприятия с участием руководства облсовета, а также проводят онлайн-трансляции и записывают заседания конкурсных комиссий.
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
        {% if video %}
            <div class="container-fluid oblvideo-list">
            {% for item in pages.items %}
                <div class="row d-flex justify-content-center">
                    <div class="oblvideo-list-video ">
                        <div class="title">
                            <h6>{{ item.body }}</h6>
                        </div>
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/{{ item.video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            {% endfor %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {{ 'disabled' if not pages.has_prev }}">
                            <a class="page-link" href="./oblvideo?lang={{ lang }}&page={{ pages.prev_num }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% for page in pages.iter_pages() %}
                            <li class="page-item {{ 'active' if page == pages.page }}">
                                <a class="page-link" href="./oblvideo?lang={{ lang }}&page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {{ 'disabled' if not pages.has_next }}">
                            <a class="page-link" href="./oblvideo?lang={{ lang }}&page={{ pages.next_num }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}