{% extends "base.html" %}

{% block title %}
    {{"Оренда автотранспорту" 
    if lang == "ukr" else
    "Аренда автотранспорта"}}
{% endblock %}
{% block main %}
<div class="section orendatrans">
    <div class="container intro">
        <div class="row">
            <div class="intro-header">
                <h2>
                    {{"Оренда автотранспорту" 
                    if lang == "ukr" else
                    "Аренда автотранспорта"}}
                </h2>
            </div>
            <div class="intro-body">
                {% if lang == "ukr" %}
                <p>
                    Ми пропонуємо взяти в довгострокову оренду мікроавтобус RENAULT TRAFIC 
                    для фізичної або юридичної особи.
                    <br/> При цьому офіційно буде укладено договір оренди.
                </p>
                {% else %}
                <p>
                    Мы предлагаем взять в долгосрочную аренду микроавтобус RENAULT TRAFIC 
                    для физического или юридического лица.
                    <br/> При этом официально будет составлен договор аренды.
                </p>
                {% endif %}
            </div>
            <div class="intro-button d-flex justify-content-center">
                <a href="/contacts?lang={{lang}}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    {{"Замовити оренду" if lang == "ukr" else "Заказать арнеду"}}
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid orendatrans-photo">
        <div class="row">
            <div class="col-md-5">
                {% if lang == "ukr" %}
                <h4>Відповіді на найчастіші питання про мікроавтобус RENAULT TRAFIC:</h4>
                <p>
                    <ul>
                        <li>вміщує 8 пасажирів;</li>
                        <li>водію потрібні права категорії “В”;</li>
                        <li>працює на дизельному палеві;</li>
                        <li>пробіг – приблизно 300 тис. км.;</li>
                        <li>рік випуску – 1993;</li>
                        <li>бездоганний робочий стан.</li>
                    </ul>
                </p>
                {% else %}
                <h4>Ответы на частозадаваемые вопросы по поводу микроавтобуса RENAULT TRAFIC:</h4>
                <p>
                    <ul>
                        <li>вмещает 8 пассажиров;</li>
                        <li>водителю достаточно прав категории “В”;</li>
                        <li>работает на дизельном топливе;</li>
                        <li>пробег - приблизельно 300 тыс.км.;</li>
                        <li>год выпуска – 1993;</li>
                        <li>безупречное рабочее состояние.</li>
                    </ul>
                </p>
                {% endif %}
            </div>
            <div class="col-md-7">
                <div class="orendamest-gallery fotorama" data-nav="thumbs">
                    <img src="../static/img/photos/small/gallery1.jpg" alt="Фото аренды транспорта">
                    <img src="../static/img/photos/small/gallery2.jpg" alt="Фото аренды транспорта">
                    <img src="../static/img/photos/small/gallery3.jpg" alt="Фото аренды транспорта">
                    <img src="../static/img/photos/small/gallery4.jpg" alt="Фото аренды транспорта">
                    <img src="../static/img/photos/small/gallery5.jpg" alt="Фото аренды транспорта">
                    <img src="../static/img/photos/small/gallery6.jpg" alt="Фото аренды транспорта">
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}