{% extends "base.html" %}

{% block title %}
    {{"Оренда нерухомості" 
    if lang == "ukr" else
    "Аренда недвижемости"}}
{% endblock %}
{% block main %}
<div class="section orendamest">
    <div class="container intro">
        <div class="row">
            <div class="intro-header">
                <h1>
                    {{"Оренда нерухомості" 
                    if lang == "ukr" else
                    "Аренда недвижемости"}}
                </h1>
            </div>
            <div class="intro-body">
                {% if lang == "ukr" %}
                <p>
                    Ми надаємо послуги зі здачі приміщень в оренду.
                    <br/> На балансі нашого підприємства перебуває об’єкт за адресою:
                    <span class="adr">м. Харків, вул. Героїв Праці, 47-Б.</span>
                </p>
                {% else %}
                <p>
                    Мы предоставляем услуги по сдече помещений в арнеду.
                    <br/> На балансе нашего предприятия находится объект по адресу: 
                    <span class="adr">г. Харьков, ул. Героев Труда, 47-Б.</span>
                </p>
                {% endif %}
            </div>
            <div class="intro-button d-flex justify-content-center">
                <a href="/contacts?lang={{lang}}" class="btn btn-primary btn-md" role="button" aria-pressed="true">
                    {{"Замовити оренду" if lang == "ukr" else "Заказать арнеду"}}
                </a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}